@charset "UTF-8";
form{
	text-align: center;
}
input {
	border: none;
	margin-bottom: 2px;
	font-size: 15px;
	width: 300px;
	height: 30px;
	outline: none;
}
.form-container table{
	border-collapse: collapse;
	border: 2px solid gray;
   	margin: auto auto auto auto;
}
.form-container td, .form-container tr {
	padding: 0px 10px 0px 10px;
	border: 2px solid gray;
}
#addField{
	margin-top: 20px;
	width: 203px;
	height: 30px;
}
#addField:hover{
	background-color: #fefae0;
}
th {
	padding: 0px 10px 0px 10px;
}