@charset "UTF-8";
.top-bar {
	text-align: right;
	border-bottom: 2px solid gray;
	padding: 10px 50px 10px 10px;
	background-color: #faedcd;
}
.top-bar a {
	background-color: #faedcd;
	text-decoration: none;
	color: black;
}
.top-bar a:link {
	color: black;	
}
.top-bar a:hover {
	color: green;	
}